<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="font-awesome.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="css/960.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Final Homework</title>
</head>

<body>
    <div class="container_12">
        <div class="container_2 prefix_4 sufix_6">
            <h1>Final Homework</h1>
        </div>
        <div class="container_10 prefix_1 sufix_1">
            <form method="post" id="formulario">
                    <input type="number" name="patrimonnio" class="form" placeholder="Patrimonio" required autofocus>
                    <input type="text" name="setor" class="form" placeholder="Setor" required autofocus>
                    <input type="text" name="entregou" class="form" placeholder="Entregou" required autofocus>
                    <input type="date" name="dateIn" class="form" placeholder="Data Entrada" required autofocus>
                    <!-- <input type="text" name="retirou" class="form" placeholder="Retirou" required autofocus>
                    <input type="date" name="dateOut" class="form" placeholder="Data Saída" autofocus>
                    <input type="text" name="user" class="form" placeholder="Usuário" required autofocus> -->
                    <button class="typetext" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>

</html>