<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="font-awesome.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="css/960.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Final Homework</title>
</head>

<body>
    <div class="container_12">
        <div class="container_2 prefix_4 sufix_6">
            <h1>Final Homework</h1>
        </div>
        <div class="container_10 prefix_1 sufix_1">
            
        </div>
    </div>
</body>

</html>